* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* according to phones fonts setting */
body {
  overflow-x: hidden;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
}

.app-container {
  max-width: 430px;   /* iPhone Pro Max width */
  width: 100%;
  margin: auto;
  min-height: 100vh;
  padding: 16px;
  background: #ffffff;
}
.container {
    max-width: 500px;
    margin: auto;
    background: white;
    padding: 25px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}
input, select {
  width: 100%;
  padding: 14px;
  font-size: 16px;   
  margin-bottom: 12px;
  border-radius: 8px;
  border: 1px solid #ccc;
}
button {
  width: 100%;
  padding: 14px;
  font-size: 16px;
  border-radius: 10px;
  border: none;
  background: #2563eb;
  color: white;
}
button:hover{
    background: #1b5e20;
}
.success-box{
    background: #e8f5e9;
    color: #2e7d32;
    padding: 12px;
    margin-bottom: 15px;
    border-radius: 6px;
    text-align: center;
}
.card {
    background: #ffffff;
    padding: 15px;
    margin-bottom: 15px;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.card-row {
    margin-bottom: 6px;
    font-size: 15px;
}

.card-actions {
    margin-top: 10px;
}

.toggle-btn {
    display: inline-block;
    padding: 8px 12px;
    background: #007bff;
    color: white;
    text-decoration: none;
    border-radius: 8px;
    font-size: 14px;
}
 /* to make it look clean on phones */
@media (max-width: 480px) {
  body {
    background: #f4f6f8;
  }

  .app-container {
    border-radius: 0;
    box-shadow: none;
  }
}


