body {
    font-family: "Times New Roman", Times, serif;
    background: #f4f6f8;
    padding: 30px;
}
.container {
    max-width: 500px;
    margin: auto;
    background: white;
    padding: 25px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}
input, select, button {
    width: 100%;
    padding: 8px;
    margin-top: 6px;
    margin-bottom: 12px;
}
button {
    background: #2e7d32;
    color:white;
    border: none;
    cursor: pointer;
}
button:hover{
    background: #1b5e20;
}
.success-box{
    background: #e8f5e9;
    color: #2e7d32;
    padding: 12px;
    margin-bottom: 15px;
    border-radius: 6px;
    text-align: center;
}
.card {
    background: #ffffff;
    padding: 15px;
    margin-bottom: 15px;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.card-row {
    margin-bottom: 6px;
    font-size: 15px;
}

.card-actions {
    margin-top: 10px;
}

.toggle-btn {
    display: inline-block;
    padding: 8px 12px;
    background: #007bff;
    color: white;
    text-decoration: none;
    border-radius: 8px;
    font-size: 14px;
}

